@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #fff; */
  /* background-image: url(img/finger.jpg); */
  /* background-size: 100%; */
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
    url(img/finger1.jpg);
  background-size: cover;
}

.container {
  position: relative;
  max-width: 400px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); */
  overflow: hidden;
  /* coba */
  /* z-index: 999; */
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 1.1px -1.1px 28px 1px rgba(0, 0, 0, 0.7);
}

.container .forms {
  display: flex;
  align-items: center;
  height: 350px;
  width: 200%;
  /* background-color: red; */
  transition: height 0.2s ease;
}

.container .form {
  width: 50%;
  padding: 30px;
  /* background-color: #fff; */
  transition: margin-left 0.18s ease;
}

.container.active .login {
  margin-left: -50%;
  opacity: 0;
  transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.container .signup {
  opacity: 0;
  transition: opacity 0.09s ease;
}

.container.active .signup {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.container.active .forms {
  height: 350px;
}

.container .form .title {
  position: relative;
  font-size: 27px;
  font-weight: 600;
  color: #fff;
}

.form .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background-color: #4070f4;
  border-radius: 25px;
}

.form .input-field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 30px;
  /* background-color: red; */
}

.form .input-field ::placeholder {
  color: #ffffff;
}

.input-field input {
  color: #fafafa;
  background: none;
  opacity: 90%;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 45px;
  border: none;
  outline: none;
  font-size: 16px;
  border-bottom: 2px solid #fafafa;
  /* border-radius: 6px; */
  /* border-top: 2px solid transparent; */
  transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) {
  border-bottom-color: #4070f4;
}

.input-field i {
  position: absolute;
  padding-left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #fafafa;
  font-size: 23px;
}

.input-field input:is(:focus, :valid) ~ i {
  color: #4070f4;
}

.input-field i.icon {
  left: 0;
}

.input-field i.showHidePw {
  right: 0;
  cursor: pointer;
  padding: 10px;
}

.form .checkbox-text {
  /* background-color: red; */
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.checkbox-text .checkbox-content {
  display: flex;
  align-items: center;
}

.checkbox-content input {
  margin: 0 8px 1.5px 4px;
  accent-color: #4070f4;
}

.form .text {
  color: rgb(212, 212, 212);
  font-size: 14px;
}

.form a.text {
  text-decoration: none;
  color: #4070f4;
}

.form a.forgot {
  text-decoration: none;
  color: #4070f4;
}

.form a.forgot:hover {
  /* text-decoration: none; */
  color: #cacaca;
}

.form a:hover {
  text-decoration: underline;
}

.form .button {
  margin-top: 35px;
}

.form .button input {
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 6px;
  background-color: #4070f4;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button input:hover {
  background-color: #265df2;
}

.form .login-signup {
  margin-top: 30px;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .container {
    width: 375px;
    width: 350px;
    width: 330px;
  }

  /* .form {
    width: 360px;
  } */

  .logo-bolmut {
    width: 375px;
    width: 350px;
    width: 330px;
  }
}
